
<form action="<%= session_url %>" method="post" class="login">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Email
    <input type="text" name="user[email]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Log In">
</form>

<section class="sidebar">
  <h2>Connect with friends all around the Universe on CloneBook</h2>
  <ul>
    <li>See photos and updates</li>
    <li>Share what's new</li>
    <li>Discover more</li>
  </ul>
</section>

<h3>Sign Up</h3>

<form action="<%= users_url %>" method="post" class="signin">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    First Name
    <input type="text" name="user[fname]" value="">
  </label>

  <label>
    Last Name
    <input type="text" name="user[lname]" value="">
  </label>

  <br>

  <label>
    Email
    <input type="text" name="user[email]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <br>

  <label>Birthday<input type="date" name="user[birthday]"></label>
  <label>
    Gender
    <input type="radio" name="user[gender]" value="male" checked> Male
    <input type="radio" name="user[gender]" value="female"> Female<br>
  </label>

  <input type="submit" value="Sign Up">
</form>
