
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */




 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   outline: 0;
   padding: 0;
   border: 0;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   background: transparent;
   color: inherit;
   box-sizing: inherit;

 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: border-box;
   line-height: 1.166666666;
   font-size: 16px;
   background: #eee;
   font-family: montserrat;

 }

 ul {
   list-style: none;

 }

 img {
   display: block;
   width: 100%;
   height: auto;
   border: 1px solid #000;


 }

 /* --- CLEARFIX --- */

 .group:after {
   clear: both;
   content: "";
   display: block;
 }

 .header-bar {
   width: auto;
   margin: 0 auto;
   height: 45px;
   background: #4c67a1;
 }

 .main-header {
   width: auto;
   margin: 0 auto;
   height: 45px;
   background: #43609C;

 }


 .side-logo {
   width: 35px;
   height: 35px;
   display: inline;
   border: 1px solid #425F9C;
 }

 .profile-nav {
   width: 849px;
   background: white;
   border: 1px solid lightgrey;
   padding-left: 200px;
   margin-top: 316px;
 }


 .preview-image {
   width: 250px;
   height: 150px;
 }

 .profile-nav > a{
   width: auto;
   margin: 0 auto;
   height: 45px;
   background: white;
   color: black;
   float: left;
   padding: 20px;
   border-right: 1px solid lightgrey;
   display: block;
 }

 .profile-nav > a:first-child {
   border-left: 1px solid lightgrey;
 }

 .image-form {
   display: none;
 }

 .image-form > button:hover {
   margin: 1000px;
   background: blue;
   display: block;
 }

 .about-feed{
   width: 849px;
   margin: auto;
   margin-right: 283px;
 }

 .about-feed > div {
   margin-top: 6px;
   display: block;
   background: #e9eaed;
   height: 50px;
   width: 849px;
   border: 1px solid lightgrey;
 }

 .about-feed > div > i {
   margin-left: 10px;
   float: left;
   color: #ADB3BC;

 }


 .about-feed > div > h2 {
   margin-top: 6px;
   padding: 5px;
   float: left;
   font-size: 22px;
   font-weight: bold;
   margin-left: 20px;
 }

 .about-list {
   width: 849px;
   border-top: 1px solid lightgrey;
   background: white;
 }

 .about-list > li {
   width: 849px;
   background: white;
   padding: 20px;
   font-size: 18px;
   display: block;
   border-left: 1px solid lightgrey;
   border-right: 1px solid lightgrey;

 }
