
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */




 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   outline: 0;
   padding: 0;
   border: 0;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   background: transparent;
   color: inherit;
   box-sizing: inherit;

 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: border-box;
   line-height: 1.166666666;
   font-size: 16px;
   background: #E9EAED;
   font-family: montserrat;

 }

 ul {
   list-style: none;

 }

 img {
   display: block;
   width: 100%;
   height: auto;


 }

 /* --- CLEARFIX --- */

 .group:after {
   clear: both;
   content: "";
   display: block;
 }

 .header-bar {
   width: auto;
   margin: 0 auto;
   height: 45px;
   background: #4c67a1;
 }

 .main-header {
   width: auto;
   margin: 0 auto;
   height: 55px;
   background: #43609C;

 }


 .side-logo {
   width: 35px;
   height: 35px;
   display: inline;
   border: 1px solid #425F9C;
   margin-top: 8px;
 }

 .profile-nav {
   width: 849px;
   background: white;
   border: 1px solid lightgrey;
   padding-left: 200px;
   margin-top: 316px;
 }


 .preview-image {
   width: 100px;
   height: 100px;
   margin-right: 0;
 }

 .profile-nav > a{
   width: auto;
   margin: 0 auto;
   height: 45px;
   background: white;
   color: black;
   float: left;
   padding: 20px;
   border-right: 1px solid lightgrey;
   display: block;
 }

 .profile-nav > a:first-child {
   border-left: 1px solid lightgrey;
 }

 .profile-nav > a:hover {
   background: lighten(#e8eef4, 3%);
   border: 1px solid darken(#e8eef4, 4%);
   box-shadow: 0px 2px 0 darken(#e8eef4, 5%), 2px 4px 6px darken(#e8eef4, 2%);
   transition: all 150ms linear;
   border-right: 1px solid lightgrey;

 }



 .about-feed{
   width: 1000px;
   margin: 0 auto;

 }

 .about-feed > div:first-child {
   margin-top: 6px;
   display: block;
   background: #e9eaed;
   height: 60px;
   width: 849px;
   border: 1px solid lightgrey;
   padding: 5px
 }

 .about-feed > div > i {
   margin-left: 10px;
   float: left;
   color: #ADB3BC;

 }


 .about-feed > div > h2 {
   margin-top: 6px;
   padding: 5px;
   float: left;
   font-size: 22px;
   font-weight: bold;
   margin-left: 20px;
 }

 .about-list {
   width: 849px;
   border-top: 1px solid lightgrey;
   background: white;
 }

 .about-list > li {
   width: 849px;
   background: white;
   padding: 20px;
   font-size: 18px;
   display: block;
   border-left: 1px solid lightgrey;
   border-right: 1px solid lightgrey;

 }



 .photoIndex {
   height: 700px;
 }





 .photo-index {
   width: 1000px;
   margin: auto;
   float: right;
 }


 .image-view {
   height: 200px;
   width: 200px;
   margin: 10px;
   float: left;
 }

 .photo-upload{
   margin: 0 auto;
   width: 300px;
   display: inline;
   float: left;
 }

 .photo-preview-image {
   margin: 0 auto;
 }


 input.file-upload {
   margin: 0 auto;
   width: 300px;
 }


 .upload-button {
 border: 1px solid lightgray;
 overflow: hidden;
 position: relative;
 padding: 3px;

 span {
   z-index: 20;
 }

 &:after {
   background: #lightblue;
   content: "";
   height: 155px;
   left: -75px;
   opacity: .2;
   position: absolute;
   top: -50px;
   transform: rotate(35deg);
   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
   width: 50px;
   z-index: -10;
 }
}

.file-des{
  border: 1px solid lightgray;
  width: 300px;
}

.upload-button:hover{
  &:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.cry {
  margin: auto;
  width: 1000px;
}



.friends {
  margin: 0 auto;
  width: 1000px;
}

.friend-list {

}

.friend-list > a {
  display: block;
  width: 300px;
  height: 100px;
  border: 1px solid lightgray;
  float: left;
  margin: 5px;
  background: white;
}

.friend-list > a > img {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px;
}

.friend-list > a > h2 {
  float: right;
  margin: 30px;
  margin-right: 50px;
  color: #3B5998;
  font-weight: bold;
}



.friend-button {
  margin: 0 auto;
  width: 95px;
  height: 30px;
}

.friends-header {
  margin-top: 6px;
  display: block;
  background: #e9eaed;
  height: 60px;
  width: 849px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.fa-users {
  margin-left: 10px;
  float: left;
  color: #ADB3BC;
}



.friends-header > h2 {
  margin-top: 6px;
  padding: 5px;
  float: left;
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
}

.profile-page {
  position: relative;
  margin: 0 auto;
  width: 850px;
}

.friend-button {
  float: right;
  margin: 5px;
  margin-right: 78px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid lightgrey;
  background: #F8F9F9;
  border-radius: 10%;
  text-align: center;
  font-size: 11px;
  padding: 1px;
}



.friend-button:hover {
  border: 1px solid lightgrey;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background: #4C67A1;
  color: white;
}

.search-input {
  margin-top: 0px;
  padding-top: 0px;
}

.searchbar {
  margin-top: 100px;
  padding: 0px;
}

.main-links > li {
  display: inline-block;
  float: left;
  color: white;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  font-size: 12px;
  // padding-top: 15px;
}


.main-links > li > button{
  display: inline-block;
  cursor: pointer;
}



.main-links > li:hover {
  background: darkblue;
  cursor: pointer;
}

.main-links > li:first-child:hover {
  background: white;
}

.main-links > li:first-child > img {
  float: right;
  padding: 0;
  margin: 0;
}

.searchbar {
  width: 700px;
  height: 33px;
}

.main-header > img {
  float: left;
  display: inline;
}




.searchbar {
  background: white;
  width: 600px;
  border: 1px solid lightgrey;
  color: black;
}

.searchbar > div > input {
  width: 500px;
  color: black;
}


.link {
  color: white;
  float: left;
}

.ads {
  width: 400px;
  float: right;
}

.ads > a {
  width: 400px;
  margin-right: 100px;
  margin-top: 50px;
  border: 1px solid lightgrey;
  float: right;
  display: inline-block;
}


.gender {
  display: block;
  float: right;
  width: 250px;
  margin-left: 70px;
  align-self: center;
  padding-left: 100px;
}

.logged-in {
  display: block;
}

.logged-in > img{
  margin-top: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline;
  top: 5px;
  left: 762px;
  margin-right: 20px;
}

.logged-in > a{
  margin-left: 25px;
}

.main-links > li > a {
  color: white;
}

.main-header {
  padding-left: 50px;
}


.comment-index-items-input {
  padding: 5px;
  position: absolute;
  left: 35px;
}

.comment-index-items-input > a {
  color: darkblue;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.actual-comment{
  color: black;
  font-size: 12px;
  margin: 5px;
}


.searchbar > div >input {
  margin: auto;
  font-size: 14px;
}


.users-index {
  color: black;
  background: white;
  font-size: 14px;

}

.searchimage{
  width: 25px;
  height: 25px;
  float: left;
  display: block;
}





.preview-image {


}


.profile > h3 {
  display: inline;
  position: relative;
  top: 300px;
  color: white;
  background: transparent;
  left: 200px;
  letter-spacing: 2px;
  font-size: 20px;
}


// .example-enter {
//   opacity: 0.01;
// }
//
// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }
//
// .example-leave {
//   opacity: 1;
// }
//
// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

.fullpage {
top: 0;
left:  0;
width: 150px;
float: left;

}

.image-form1 {
  width: 30px;
  display: inline;
  position: absolute;
  margin: 5px;
  margin-left: 0px;
  // top: 500px;
  // left: 96px;
}

.image-form2 {
  width: 30px;
  display: inline;
  position: absolute;
  margin-left: 0px;
}

.image-form1 > label {
  font-size: 9px;

}

.image-form2  > label  {
  font-size: 9px;
}

.logged-in {
  top: 0;
  margin: 0 !important;
  padding-top: 6px !important;
}

.logged-in > a > img {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  float: left;
}


.logged-in > a > span {
  display: inline-block;
  margin-top: 14px;
  float: left;
  margin-left: 5px;
}


.search-input {
  margin-top: 0px;
}


.timesecond {
  display: block;
}

.comment-index-items-input > li > button {
  float: right;
  margin: 0 auto;
}

.timeagosecond > span {
  position: absolute;
  top: 25px;
  left: 42px;
  display: block !important;
  float: left;
  width: 496px;

}

.image-formhide {
   visibility: hidden;
   width: 200px;
}



.fa-camera  {
  padding: 5px;
  padding-left: 20px;
  padding-right: 38px;
}




.fa-camera:hover {
  color: white;
  background: black;
  opacity: .8;
  visibility: visible;
  border-radius: 5%;
}


.preview-image-button{
  position: absolute;
  // top: 3px;
  // left: 100px;
}


.image-form2 {
  position:absolute;
  top: 330px;
  left: 15px;
}


.preview-image-cover {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -110px;
  left: 5px;
}


.preview-image-button1{
  position: absolute;
  top: 3px;
  left: 100px;
}


.image-form1 {
  position:absolute;
  top: 35px;
  left: 15px;
}


.preview-image-cover1 {
  width: 850px;
  height: 313px;
  position: absolute;
  top: 32px;
}

.search-result:first-child {
  height: 35px;
  padding: 2px;
  border: 1px solid grey;
}
.search-result {
  width: 585px;
  height: 35px;
  padding: 2px;
  background: white;
  border: 1px solid grey;
  border-top: none;
}

.search-result > a {
  padding: 2px;
  width: 585px;
  display: block;

}

.searchbar {
  position: relative;
}
.users-index{
  position: absolute;
  z-index: 1;
}

.profile > h3 {
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   font-size: 25px;
}

.friend-list {
  float: left;
}

.small-image1{
  position: absolute;
  width: 30px;
  height: 30px;
  float: left;
  top: 10px;
  left: 5px;
}
