// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form > form > input {
  background: white;
  width: 200px;
  height: 50px;
  color: black;
  margin-bottom: 5px;
}


.comment-form {
  border: 1px solid black;
  width: 494px;
  height: 70px;
  // margin-bottom: 5px;
  // margin-top: 5px;

  background: white;
}

.comment-index-items {
  border: 1px solid black;
  width: 494px;
  height: 70px;
  // margin-top: 5px;
  color: black;


}
