// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form > form > input {
  background: white;
  width: 450px;
  height: 30px;
  color: black;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 5px;

}


.comment-form > form{
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-top: none;
  width: 494px;
  height: 55px;
  background: #F6F7F8;
  position: relative;
}

.comment-form > form > button {
  display: none;
}

.comment-index-items {
  align-self: center;
  margin: 0 auto;
  width: 494px;
  height: 45px;
  background: #F6F7F8;
  position: relative;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  font-size: 12px;
  color: darkgrey;
  position: relative;
  text-align:left;
  border-bottom: 1px solid lightgrey;

}

.comment-index-items > button {
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
  margin-right: 50px;
}

.comment-index-items > h1 {

  margin-left: 30px;
}

.actual-comment{
  margin-left: 40px;
  display: inline-block;
  float: left;

}

.comment-index-items-input > li > button{
  margin-left: 140px;
  display: inline-block;
  float: right;

}

.comment-index-items-input {
  height: 20px;
}


.post-index-items > li > button:hover {
  width: auto;
  height: 22px;
  background: #4C67A1;
  float: right;
  margin-right: 10px;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.comment-username {
  float: left;
  display: inline;
  margin-top: 4px;
}
