// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-page {
  width: 1200px;
}
.newsfeed {
  background: #E9EAED;
  width: 700px;
  margin: auto;
  float: left;
}

.posts-index {
  margin: 0 auto;
  // border: 1px solid black;
  width: 494px;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  // border: 1px solid lightgrey;
  background: #FFFFFF;

}

.post-form {

  background: #E9EAED;
}

.post-form > form {
  padding-top: 5px;
  align-self: center;
  margin: 0 auto;
  width: 496px;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid lightgrey;
  background: white;
  position: relative;
  border-radius: 1%;
}

.post-form > form > input {
    resize: none;
    float: right;
    width: 492px;
    height: 100px;
    padding: 10px;
    display: inline;
    margin: 0 auto;
    align-self: center;
    margin-top: 15px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;


}

.post-form > form > button {
  width: auto;
  height: 22px;
  background: #4C67A1;
  float: left;
  margin: 4px;
  margin-right: 10px;
  color: white;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  right:    0;
  bottom:   0;

}

.post-index-items {
  box-sizing: border-box;
   align-self: center;
   margin: 0 auto;
   border: 1px solid black;
   width: 496px;
   height: 150px;
   margin-bottom: 8px;
   margin-top: 8px;
   border: 1px solid lightgrey;
   background: white;

}


.actual-post{
  margin: auto;

}

.post-index-items > li > button {
  width: auto;
  height: 22px;
  background: white;
  float: right;
  margin-right: 10px;
  color: white;
  padding: 3px;
  border-radius: 3px;

}

.small-image {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
}

.post-index-items.group {
  margin-bottom: 0;
  padding: 10px;
  height: auto;
  padding-top: 17px;

}

.posts-index-items{
}

.username{
  margin-left: 10px;
}

.username > a{
  position: relative;
  color: darkblue;
  font-size: 17px;
  float: left;
  display: block;
  padding-top: 17px;
}

.timeago > span {
  font-size: 12px;
  color: lightgray;
  display: block;
  float: left;
  margin: 2px;
}

.timeago > span:first-child {
  margin-left: 10px;
}
.timeago > span > span{
  font-size: 12px;
  color: lightgray;
  display: block;
  margin: 1px;

}

.actual-post {
  display: block;
  margin: 15px;
  margin-top: 40px;
  margin-left: 0;
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
