// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group:after {
  clear: both;
  content: "";
  display: block;
}


.header {
  width: auto;
  height: 100px;
  background: #3b5998;
  margin: 0 auto;
  padding: 15px 0px 9px 0;
}

.header > label {
  font-weight: normal;
  font-size: 35px;
  font-family: montserrat;
  color: white;
  padding-top: 17px;
  float: left;
  padding-bottom: 15px;
  margin-left: 60px;
  height: auto;
}

.login-form {
  float: right;
  margin: 0 auto;

}

.login {
  float: left;
  display: block;
  color: white;
  margin: 0 auto;

}

.login > label {
  position: relative;
  display: block;
  margin-left: 105px;
  margin-right: 20px;
  float: left;

}


.login > label > input {
  position: absolute;
  top: 20px;
  width: 144px;
  height: 21px;
  background: white;
  display: block;
  border: 1px solid black;
  color: black;
}

  .guest {
    float: left;
    width: 70px;
    height: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background:#627aac;
    text-align: center;
    box-shadow: 1px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    border: 1px solid black;
  }



.login-button {
  width: 50px;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background:#627aac;
  text-align: center;
  box-shadow: 1px;
  margin-top: 20px;
  // margin-right: 10px;
  margin-left: 70px;
  float: right;
  border: 1px solid black;
}

.main{
  margin: 0 auto;
  width: 100%;
  height: 595px;
  background: linear-gradient(to bottom, #FCFCFD, #ECEEF5, #D6DAE9);
}

.sidebar {
  width: 40%;
  height: 516px;
  float: left;
  margin-left: 70px;
  // display: block;
}

.sidebar > h2 {
  font-size: 30px;
  width: 409px;
  padding: 30px 0px;
  display: block;
}

.sidebar > ul > li {
  padding: 20px 0px;
  font-size: 20px;
  width: 409px;
}
.main-content {
  float: left;
  display: block;
  width: 50%;

}

.main-content > h3 {
  font-size: 40px;
  font-weight: lighter;
  // margin-bottom: 70px;
}

.signup > label {

  padding: 10px 0 0px 0px;
  display: block;
  margin: 5px
}

.signup > label > input{
  width: 150px;
  height: 20px;
  background: white;
  color: black;
  border: 1px solid black;
}


.profile {
  width: 1000px;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
  position: relative;
}


.profile-image{
  width: 160px;
  height: 160px;
  position: absolute;
  border: 2px solid white;
  left: 15px;
  top: 215px;

}

.cover-image {
  width: 849px;
  height: 313px;
  position: absolute;
  top: 25px;
}

.profilefeed{
  // margin-top: 400px;
  align-content: center;
}
